{%extends 'scheduler/base.html' %}
{% load static %}

{% block page_css%}
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'scheduler/home.css' %}"
/>
{% endblock page_css%}

{% block content %}
<!--<div class="container mt-100">-->
    <div class="row">
        <div class="col-md-8 mx-auto">
            <div class="card">
                <h3 class="card-header text-center font-weight-bold text-uppercase py-4">Instructors</h3>
                    <div class="card-body">
                        <div id="table" class="table-editable">
                            <table id="DataTable" class="table table-bordered table-responsive-md table-striped text-center">
                            <thead>
                                <tr>
                                    <th>First Name</th>
                                    <th>Last Name</th>
                                    <th>Status</th>
                                    <th>Dept</th>
                                    {% comment %} <th>Schedule</th> {% endcomment %}
                                    {% for day in weekdays %}
                                    <th>{{day}}</th>
                                    {% endfor %}
                                </tr>
                            </thead>
                            <tbody>
                                {% for instructor in instructors %}
                                <tr>
                                    <td class="pt-3-half" contenteditable="true">{{ instructor.first_name }}</td>
                                    <td class="pt-3-half" contenteditable="true">{{ instructor.last_name }}</td>
                                    <td class="pt-3-half" contenteditable="true">{{ instructor.status }}</td>
                                    <td class="pt-3-half text-uppercase" contenteditable="true">{{ instructor.department }}</td>
                                    {% for day in weekdays %}
                                        <td class="pt-3-half" contenteditable="true">
                                            {% cycle instructor.schedule.Monday instructor.schedule.Tuesday instructor.schedule.Wednesday instructor.schedule.Thursday instructor.schedule.Friday as daily silent %}
                                            {% for block in daily %}
                                            {{ block.start|slice:":5" }} - {{ block.end|slice:":5" }},
                                            {% endfor %}
                                        </td> 
                                    {% endfor %} 
                                    {% comment %} <td class="pt-3-half" contenteditable="true">
                                        {% if instructor.schedule.Monday != Null %}
                                            {% for block in instructor.schedule.Monday %}
                                                {{ block.start|slice:":5" }} - {{ block.end|slice:":5" }}<br>
                                            {% endfor %}
                                        {% else %}#
                                        {% endif %}
                                    </td> <td class="pt-3-half" contenteditable="true">
                                        {% if instructor.schedule.Tuesday != Null %}
                                            {% for block in instructor.schedule.Tuesday %}
                                                {{ block.start|slice:":5" }} - {{ block.end|slice:":5" }}<br>
                                            {% endfor %}
                                        {% else %}#
                                        {% endif %}
                                    </td> <td class="pt-3-half" contenteditable="true">
                                        {% if instructor.schedule.Wednesday != Null %}
                                            {% for block in instructor.schedule.Wednesday %}
                                                {{ block.start|slice:":5" }} - {{ block.end|slice:":5" }}<br>
                                            {% endfor %}
                                        {% else %}#
                                        {% endif %}
                                    </td> <td class="pt-3-half" contenteditable="true">
                                        {% if instructor.schedule.Thursday != Null %}
                                            {% for block in instructor.schedule.Thursday %}
                                                {{ block.start|slice:":5" }} - {{ block.end|slice:":5" }}<br>
                                            {% endfor %}
                                        {% else %}#
                                        {% endif %}
                                    </td> <td class="pt-3-half" contenteditable="true">
                                        {% if instructor.schedule.Friday != Null %}
                                            {% for block in instructor.schedule.Friday %}
                                                {{ block.start|slice:":5" }} - {{ block.end|slice:":5" }}<br>
                                            {% endfor %}
                                        {% else %}#
                                        {% endif %}
                                    </td> {% endcomment %}
                                </tr>
                                {% endfor %}
                            </tbody>
                            <span  class="table-add float-right mb-3 mr-2">
                                <a href="#bottom" id="EditorAdd">
                                    <i  class="fa fa-plus" aria-hidden="true"></i> 
                                    New Row
                                </a>
                            </span>
                        </table>
                        <div id="bottom"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!--</div>-->

{% endblock content %}

{% block bootstrapJS %}
<script
  type="text/javascript"
  src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"
></script>
    <script>
        var track_delete;
        var counter = 0;
        $("#EditorAdd").on("click", function (e) {
            var newRow = $("<tr class='table-success'>");
            var cols = "";
            cols += '<td class="pt-3-half" contenteditable="true">  Parkview  </td>';
            cols += '<td class="pt-3-half" contenteditable="true">  Floyd  </td>';
            cols += '<td class="pt-3-half" contenteditable="true">  Z000  </td>';
            cols += '<td class="pt-3-half" contenteditable="true"> 40 </td>';
            cols += '<td class="pt-3-half" contenteditable="true"> S </td>';
            cols += '<td class=" pt-1-half editor-delete"><i class="fa fa-trash"></i></td>';
            cols +="</tr>";
            newRow.append(cols);
            $("#DataTab").append(newRow);
            
            counter++;

            //$(this).closest('tr').;
        } );

        $('#DataTab').on('click', 'td.editor-delete', function (e) {
            e.preventDefault();
            if (confirm("Are you sure you want to delete the row?")) {
                $(this).closest('tr').remove();
            }
            return false;
        } );

        $(document).ready(function() {
            $('#DataTab').DataTable({
                aLengthMenu: [
                    [25, 50, -1, 200, "All"],
                    [25, 50, 100, 200, "All"]
                ],
                iDisplayLength: -1,
                columns:[
                    {data: "Campus"},
                    {data: "Building"},
                    {data: "Room number #"},
                    {data: "Capacity"},
                    {data: "Room Type"},
                    {
                        data: null,
                        className: "pt-1-half table-warning editor-delete ",
                        defaultContent: "<i class='fa fa-trash'/>",
                        orderable: false
                    }
                ]
            }

            );
        } );

    </script>

{% endblock bootstrapJS %}
