{%extends 'scheduler/base.html' %}
{% load static %}

{% block page_css%}
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'scheduler/home.css' %}"
/>
{% endblock page_css%}

{% block content %}
<div class="container mt-100">
    <div class="row">
        <div class="col-md-8 mx-auto">
            <div class="card">
                <h3 class="card-header text-center font-weight-bold text-uppercase py-4">Instructors</h3>
                    <div class="card-body">
                        <div id="table" class="table-editable">
                            <span class="table-add float-right mb-3 mr-2"
                            ><a href="#!" class="text-success"
                                ><i class="fas fa-plus fa-2x" aria-hidden="true"></i></a
                            ></span>
                            <table class="table table-bordered table-responsive-md table-striped text-center">
                            <thead>
                                <tr>
                                    <th>First Name</th>
                                    <th>Last Name</th>
                                    <th>Status</th>
                                    <th>Dept</th>
                                    <th>Monday</th>
                                    <th>Tuesday</th>
                                    <th>Wednesday</th>
                                    <th>Thursday</th>
                                    <th>Friday</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for instructor in instructors %}
                                <tr>
                                    <td class="pt-3-half" contenteditable="true">{{ instructor.first_name }}</td>
                                    <td class="pt-3-half" contenteditable="true">{{ instructor.last_name }}</td>
                                    <td class="pt-3-half" contenteditable="true">{{ instructor.status }}</td>
                                    <td class="pt-3-half text-uppercase" contenteditable="true">{{ instructor.department }}</td>
                                    <td class="pt-3-half" contenteditable="true">
                                        {% if instructor.schedule.Monday != Null %}
                                            {% for block in instructor.schedule.Monday %}
                                                {{ block.start }} - {{ block.end }};
                                            {% endfor %}
                                        {% else %}#
                                        {% endif %}
                                    </td> 
                                    <td class="pt-3-half" contenteditable="true">
                                        {% if instructor.schedule.Tuesday != Null %}
                                            {{ instructor.schedule.Tuesday }}
                                        {% else %}#
                                        {% endif %}
                                    </td> 
                                    <td class="pt-3-half" contenteditable="true">
                                        {% if instructor.schedule.Wednesday != Null %}
                                            {{ instructor.schedule.Wednesday }}
                                        {% else %}#
                                        {% endif %}
                                    </td> 
                                    <td class="pt-3-half" contenteditable="true">
                                        {% if instructor.schedule.Thursday != Null %}
                                            {{ instructor.schedule.Thursday }}
                                        {% else %}#
                                        {% endif %}
                                    </td> 
                                    <td class="pt-3-half" contenteditable="true">
                                        {% if instructor.schedule.Friday != Null %}
                                            {{ instructor.schedule.Friday }}
                                        {% else %}#
                                        {% endif %}
                                    </td> 
                                    {% comment %} {% for time in schedule %}{% endfor %} {% endcomment %}
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}

{% block bootstrapJS %}
<script
  type="text/javascript"
  src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"
></script>
{% endblock bootstrapJS %}
