{% extends "scheduler/base.html" %}
{% load static %}

{% block page_css%}
    <link rel="stylesheet" type = "text/css" href= "{% static 'scheduler/home.css' %}" >
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.2.4/css/buttons.dataTables.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock page_css%}

{% block content %}

<!--div class="container mt-100"-->
    <div class="row">
        <div class="col-md-8 mx-auto">
            <div class="card">
                <h3 class="card-header text-center font-weight-bold text-uppercase py-4">CS Room List</h3>
                    <div class="card-body">

                        <div id="table" class="table-editable">
                            <table id="DataTab" class="table table-bordered table-responsive-md table-striped text-center">
                            <thead>
                                <tr>
                                    <th>Campus</th> 
                                    <th>Building</th> 
                                    <th>Room#</th> 
                                    <th>Capacity</th> 
                                    <th>Room Type</th> 
                                    <th></th> 
                                </tr>
                            </thead>
                            <tbody>
                                {% for x in input %}
                                <tr>
                                    <td class="pt-3-half" contenteditable="true"> {{ x.campus }} </td>
                                    <td class="pt-3-half" contenteditable="true"> {{ x.building }} </td>
                                    <td class="pt-3-half" contenteditable="true"> {{ x.room_num }} </td>
                                    <td class="pt-3-half" contenteditable="true"> {{ x.capacity }} </td>
                                    <td class="pt-3-half" contenteditable="true"> {{ x.room_type }} </td>
                                    <td> </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                            
                            <span  class="table-add float-right mb-3 mr-2">
                                <a href="#bottom" id="EditorAdd">
                                    <i  class="fa fa-plus" aria-hidden="true"></i> 
                                    New Row
                                </a>
                            </span>

                        </table>

                        <div id="bottom"> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!--/div-->

{% endblock content %}

{% block bootstrapJS %}
       <!--Import jQuery before export.js-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>


    <!--Data Table-->
    <script type="text/javascript"  src=" https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript"  src=" https://cdn.datatables.net/buttons/1.2.4/js/dataTables.buttons.min.js"></script>

    <!--Export table buttons-->
    <script type="text/javascript"  src="https://cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js"></script>
    <script type="text/javascript" src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.24/build/pdfmake.min.js" ></script>
    <script type="text/javascript"  src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.24/build/vfs_fonts.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.2.4/js/buttons.html5.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.2.1/js/buttons.print.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
    
    <script>
        var track_delete;
        var counter = 0;
        $("#EditorAdd").on("click", function (e) {
            var newRow = $("<tr class='table-success'>");
            var cols = "";
            cols += '<td class="pt-3-half" contenteditable="true">  Parkview  </td>';
            cols += '<td class="pt-3-half" contenteditable="true">  Floyd  </td>';
            cols += '<td class="pt-3-half" contenteditable="true">  Z000  </td>';
            cols += '<td class="pt-3-half" contenteditable="true"> 40 </td>';
            cols += '<td class="pt-3-half" contenteditable="true"> S </td>';
            cols += '<td class=" pt-1-half editor-delete"><i class="fa fa-trash"></i></td>';
            cols +="</tr>";
            newRow.append(cols);
            $("#DataTab").append(newRow);
            
            counter++;

            //$(this).closest('tr').;
        } );

        $('#DataTab').on('click', 'td.editor-delete', function (e) {
            e.preventDefault();
            if (confirm("Are you sure you want to delete the row?")) {
                $(this).closest('tr').remove();
            }
            return false;
        } );

        $(document).ready(function() {
            $('#DataTab').DataTable({
                aLengthMenu: [
                    [25, 50, 100, -1],
                    [25, 50, 100, "All"]
                ],
                iDisplayLength: -1,
                columns:[
                    {data: "Campus"},
                    {data: "Building"},
                    {data: "Room number #"},
                    {data: "Capacity"},
                    {data: "Room Type"},
                    {
                        data: null,
                        className: "pt-1-half table-warning editor-delete ",
                        defaultContent: "<i class='fa fa-trash'/>",
                        orderable: false
                    }
                ]
            }

            );
        } );

    </script>
    
{% endblock bootstrapJS %} 