{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    
    <!-- CSS files -->
    <link rel="stylesheet" type = "text/css" href= "{% static 'scheduler/base.css' %} ">
    {% block page_css %} {% endblock%}

    <!-- Extended Bootstrap CSS and CSS files-->
    {% block scripts %}{% endblock %}

    {% if title %}
        <title>Class Scheduler - {{ title }}</title>
    {% else %}
        <title>Class Scheduler</title>
    {% endif %}
  </head>
  <body>
      <!-- Navigation bar -->
        <header class="site-header">
            <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
            <div class="container col-12">
                <a class="navbar-brand mr-5" href="{% url 'scheduler-home' %}">Class Scheduler</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarToggle">
                <div class="navbar-nav mr-auto">
                    <a class="nav-item nav-link" href="{% url 'scheduler-home' %}">Schedule</a>
                    <a class="nav-item nav-link" href="{% url 'scheduler-instructors' %}">Instructors</a>
                    <a class="nav-item nav-link" href="{% url 'scheduler-rooms' %}">Rooms</a>
                    <a class="nav-item nav-link" href="{% url 'scheduler-meeting-times' %}">Times</a>
                </div>
                <!-- Navbar Right Side -->
                <div class="navbar-nav ml-auto">
                    <a class="nav-item nav-link" href="#">Login</a>
                    <a class="nav-item nav-link" href="#">Register</a>
                </div>
                </div>
            </div>
            </nav>
        </header>

        {% block content %} {% endblock%}

      <!-- Content -->
        <main role="main" class="container">
            <div class="row">
            <div class="col-md-8">
            </div>
            </div>
        </main>
    

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
    {% block bootstrapJS %} {% endblock %}
  </body>
</html>
