{% extends 'scheduler/base.html' %}
{% block title %}Home{% endblock title %}
{% load static %}
{% block page_css%}
    <link rel="stylesheet" type = "text/css" href= "{% static 'scheduler/home.css' %}" >
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.2.4/css/buttons.dataTables.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock page_css%}



{% block content %}
<div class="row mx-auto">
    <div class="col-md-8 col-sm-12 mx-auto">
        <div class="card mx-auto">
            <h3 class="card-header text-center font-weight-bold text-uppercase py-4"> HOME </h3>
            <div class="card-body">

                <div class="clearfix"> <!-- div for the upload modal -->
                    <form method="POST" enctype="multipart/form-data">
                    <!-- Button trigger modal -->
                    <button id='upload_buton' type="button" class="btn btn-primary float-left" data-toggle="modal" data-target="#staticBackdrop">
                    Upload Schedule
                    </button>
                    

                    <!-- Modal -->
                    <div class="modal fade" id="staticBackdrop" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="staticBackdropLabel">Schedule Upload (.xlsx)</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            
                            <div class="modal-body">
                              <form>
                                {% csrf_token %}
                                {{ form.as_p }}
                                <input type="submit" value="Submit" class="submit-button">
                              </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                            </div>
                            </div>
                        </div>
                        </div>
                    </div>
                    </form>
                </div> <!-- end of modal -->
                
                    <div id="table" class="table-editable">
                        
                        <table id="DataTab" class="table table-bordered table-responsive-md table-striped text-center">
                        <thead>
                            <tr>
                                <th> id </th> 
                                <th> Avilable Semester</th> 
                                <th> Department </th> 
                                <th> Active </th> 
                                <th> Deleted </th>
                                <th class="del_row"></th> 
                            </tr>
                        </thead>

                        <tbody>
                            {% for x in input %}
                            <tr id="1">
                                <td >1</td>
                                <td class="pt-3-half content last_name"> {{ x.season_year }} </td>
                                <td class="pt-3-half content" > CS </td>
                                <td class="pt-3-half content" >   </td>
                                <td class="pt-3-half content" >   </td>
                                <td> </td>
                            </tr>
                            {% endfor %}
                        </tbody>

                    </table>

                    <div id="bottom"> 

                    </div>
            </div><!-- end of card body -->

        </div> <!-- end of card -->
    </div>
</div>

{% endblock content %}




{% block bootstrapJS %}
<!--Import jQuery before export.js-->
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>


<!--Data Table-->
<script type="text/javascript"  src=" https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
<script type="text/javascript"  src=" https://cdn.datatables.net/buttons/1.2.4/js/dataTables.buttons.min.js"></script>
<script type="text/javascript"  src=" https://cdn.datatables.net/responsive/2.2.9/js/dataTables.responsive.min.js"></script>
<script type="text/javascript"  src=" https://cdn.datatables.net/fixedheader/3.2.0/js/dataTables.fixedHeader.min.js"></script>


<!--Export table buttons-->
<script type="text/javascript"  src="https://cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js"></script>
<script type="text/javascript" src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.24/build/pdfmake.min.js" ></script>
<script type="text/javascript"  src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.24/build/vfs_fonts.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.2.4/js/buttons.html5.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.2.1/js/buttons.print.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>

<script>
    var track_delete;

    //Handel the get request for Active records
    $('#DataTab').on('click', 'td.getactive', function (e) {
        e.preventDefault();
        
        var term = $(this).closest('tr').find('td:eq(0)').text()
        console.log(term)

        window.location.replace('/semester?term='+ term);
            

    } );

    //Handel the get request for deleted records
    $('#DataTab').on('click', 'td.getdeleted', function (e) {
        e.preventDefault();
        
        var term = $(this).closest('tr').find('td:eq(0)').text()
        console.log(term)

        window.location.replace('/deleted?term='+ term);
            

    } );

    //Handels what hapens when delete button is hit
    $('#DataTab').on('click', 'td.editor-delete', function (e) {
        e.preventDefault();
        
        //Ask user if they are sure they want to update the changes
        if (confirm("Are you sure you want to delete the row?")) {
            
            //Select the row where the button was clicked
            var curr_row = $(this).closest('tr');
            
            //Test if the page was reloaded or not by 
            //checking if the 'new row marker class:table-success' has been removed or not
            if ( curr_row.hasClass('table-success') ){
                //Perform the basic remove function
                curr_row.remove();
                counter--;

            }
            else{
                //Send the infromation to database for deletion
                var rowArray = new Array();
                curr_row.each(function(row, tr){

                    rowArray[row]={
                        "id" : parseInt(jQuery(curr_row).attr('id'))
                        ,"season_year" : $(tr).find('td:eq(0)').text()
                        , "dept" :$(tr).find('td:eq(1)').text()
                        
                    } 

                });
                console.log(rowArray[0]);// low the row for debug

                $.ajax({
                    type : "DELETE",
                    contentType:"application/json; charset=utf-8",
                    url : 'http://127.0.0.1:8000/home_api' ,
                    dataType:"json",
                    beforeSend: function (xhr, settings) {
                        xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
                    },
                    data : JSON.stringify(rowArray[0]),
                    success: function(data) {
                        alert(data.message);
                        
                        curr_row.remove();
                        counter--;
                    },
                    error : function(data) {
                        alert("Something went wrong" + data)
                    }
                });


            }
        }
        return false;
    } );
    
    var datTable = $('#DataTab').DataTable({
            aLengthMenu: [
                [25, 50, 100, -1],
                [25, 50, 100, "All"]
            ],
            iDisplayLength: -1,
            columns:[
                {   data: "id",
                    visible:false
                },
                {data: "season_year"},
                {data: "dept"},
                {data: null,
                    className: 'pt-1-half getactive',
                    defaultContent:'<button type="button" class="btn btn-primary"> Get </button>', 
                    orderable: false },

                {data: null,
                    className: 'pt-1-half getdeleted',
                    defaultContent:'<button type="button" class="btn btn-primary"> Get </button>', 
                    orderable: false },
                {
                    data: null,
                    className: "pt-1-half table-warning editor-delete ",
                    defaultContent: "<a href='#'><i class='fa fa-trash'/></a>",
                    orderable: false
                }
            ],
            responsive: true //Table is responsive only after reload for a given size
            
        });
    
    //Alaways remember how many rows there are on table at load
    $(document).ready(function() {
        counter = parseInt($('#DataTab').DataTable().row(':last').data().id);
    } );


</script>

{% endblock bootstrapJS %}
