{% extends "scheduler/base.html" %}
{% load static %}

{% block page_css%}
    <link rel="stylesheet" type = "text/css" href= "{% static 'scheduler/meeting_times.css' %}" >
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.2.4/css/buttons.dataTables.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock page_css%}

{% block content %}

<div class="row mx-auto">
    <div class="col-md-8 col-sm-12 mx-auto">
        <div class="card mx-auto">
            <h3 class="card-header text-center font-weight-bold text-uppercase py-4">Meeting Times</h3>
                <div class="card-body">
                    <p>{{temp.start_time}}</p>
                    <button type="button" id = 'editButton' onclick=editmode()>Edit</button>
                    <div id="table" class="table-editable">
                        
                        <table id="DataTab" class="table table-bordered table-responsive-md table-striped text-center">
                        <thead>
                            <tr>
                                <th >id</th> 
                                <th >Start Time</th> 
                                <th >End Time</th> 
                                <th >Days</th> 
                                <th ></th> 
                            </tr>
                        </thead>

                        <tbody>
                            {% for x in input %}
                            <tr id="{{ x.id }}">
                                <td >{{x.id}}</td>
                                <td class="pt-3-half content" contenteditable="false"> {{ x.start_time|time:"H:i A" }} </td>
                                <td class="pt-3-half content" contenteditable="false"> {{ x.end_time|time:"H:i A" }} </td>
                                <td class="pt-3-half content" contenteditable="false"> {{ x.days }} </td>
                                <td class="del_row"> </td>
                            </tr>
                            {% endfor %}
                        </tbody>

                        <span  class="table-add float-right mb-3 mr-2">
                            <a href="#bottom" id="EditorAdd">
                                <i  class="fa fa-plus" aria-hidden="true"></i> 
                                New Row
                            </a>
                        </span>

                    </table>
                    
                    <input id="sendServer" class="btn btn-primary" name="sendServer" type="button" value="Send to Server" />

                    <div id="bottom"> 

                </div>
            </div>
        </div>
    </div>
</div>


<script>
     function editmode(){
        var row, new_row, send_server, edit_button, delete_row_button, i;
        i = 0;
        row = document.querySelectorAll('.content');
        new_row = document.getElementById("EditorAdd");
        send_server = document.getElementById("sendServer");
        edit_button = document.getElementById("editButton");

        for (i; i < row.length; i++){
            if(row[i].contentEditable == 'false'){
                row[i].contentEditable = 'true';
                new_row.style.display = 'block';
                send_server.style.display = 'block';
                edit_button.innerHTML = 'Cancel';
            }
            else{
                window.location.reload();
            }
        }
    } 
</script>

{% endblock content %}

{% block bootstrapJS %}
<!--Import jQuery before export.js-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>


    <!--Data Table-->
    <script type="text/javascript"  src=" https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript"  src=" https://cdn.datatables.net/buttons/1.2.4/js/dataTables.buttons.min.js"></script>
    <script type="text/javascript"  src=" https://cdn.datatables.net/responsive/2.2.9/js/dataTables.responsive.min.js"></script>
    <script type="text/javascript"  src=" https://cdn.datatables.net/fixedheader/3.2.0/js/dataTables.fixedHeader.min.js"></script>


    <!--Export table buttons-->
    <script type="text/javascript"  src="https://cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js"></script>
    <script type="text/javascript" src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.24/build/pdfmake.min.js" ></script>
    <script type="text/javascript"  src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.24/build/vfs_fonts.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.2.4/js/buttons.html5.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.2.1/js/buttons.print.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>

    <script type="text/javascript" src="{% static 'scheduler/date.js' %}"></script>
    <script type="text/javascript" src="{% static 'scheduler/parser.js' %}"></script>

    <script>
        $(function(){
            var dataArr = [];

            //Handels how to send the infromation to the server
            $('#sendServer').click(function(e){
                e.preventDefault();
                
                //Creates a Jquery's array based on current state of the table
                //My current I mean when the sendServer button is pressed
                // THe changes are not known to Datattable
                var TableData = new Array();
                $('#DataTab tr').each(function(row, tr){
                    TableData[row]={
                        "id" : $('#DataTab').DataTable().cell( (row-1), 0 ).data()
                        ,"start_time" : Date.parse($(tr).find('td:eq(0)').text())
                        , "end_time" : Date.parse($(tr).find('td:eq(1)').text())
                        , "days" : $(tr).find('td:eq(2)').text()
                    }    
                });

                TableData.shift();//Remove the first empty cell caused by the header field
                
                //Show me the current state of the table
                console.log(TableData);
                
                //Prepre a pack to send to the server
                //Server: Django
                $.ajax({
                    type : "POST",
                    contentType:"application/json; charset=utf-8",
                    url : 'http://127.0.0.1:8000/saveTime',
                    dataType:"json",
                    beforeSend: function (xhr, settings) {
                        xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
                    },
                    data : JSON.stringify(TableData),
                    success: function(data) {
                        alert("Sucessfully Updated your changes!!");
                        location.reload();
                    },
                    error : function(data) {
                        alert("Something went wrong" + data)
                    }
                });
            });
        });
        var track_delete;

        //Handels the Add new row feature
        $("#EditorAdd").on("click", function (e) {

            //Basic setup to target the table and get one of it's object
            var table = $('#DataTab').DataTable();
            var domRow = $('#'+ counter);
            var newrow = Object.create(table.row(domRow).data());
            counter++;
            
            //Deafult values that are required for the setup
            newrow.DT_RowId = ''+counter;
            newrow.id = ''+counter;
            newrow.start_time = '00:00';
            newrow.end_time = '00:00';
            newrow.days = 'O';

            //Append the row to datatable and redraw the table
            table.row.add(newrow).draw(false);

            //Add in a seprate class to seprate out the new row
            $('#' + counter).addClass('table-success')
            $('#' + counter).children('td').attr('contenteditable','true');
            $('#' + counter).children('td').addClass('pt-3-half');
            
        } );

        //Handels what hapens when delete button is hit
        $('#DataTab').on('click', 'td.editor-delete', function (e) {
            e.preventDefault();
            
            //Ask user if they are sure they want to update the changes
            if (confirm("Are you sure you want to delete the row?")) {
                
                //Select the row where the button was clicked
                var curr_row = $(this).closest('tr') 
                
                //Test if the page was reloaded or not by 
                //checking if the 'new row marker class:table-success' has been removed or not
                if ( curr_row.hasClass('table-success') ){
                    //Perform the basic remove function
                    curr_row.remove();
                    counter--;

                }
                else{
                    //Send the infromation to database for deletion
                    var rowArray = new Array();
                    curr_row.each(function(row, tr){

                        rowArray[row]={
                            "id" : parseInt(jQuery(curr_row).attr('id'))
                            ,"start_time" : Date.parse($(tr).find('td:eq(0)').text())
                            , "end_time" :Date.parse($(tr).find('td:eq(1)').text())
                            , "days" : $(tr).find('td:eq(2)').text()
                        } 

                    });

                    console.log(rowArray[0]);// low the row for debug
                    $.ajax({
                        type : "DELETE",
                        contentType:"application/json; charset=utf-8",
                        url : 'http://127.0.0.1:8000/saveTime' ,
                        dataType:"json",
                        beforeSend: function (xhr, settings) {
                            xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
                        },
                        data : JSON.stringify(rowArray[0]),
                        success: function(data, status) {
                            alert("Sucessfully deleted your record number: " + data);
                            
                            curr_row.remove();
                            counter--;
                        },
                        error : function(data) {
                            alert("Something went wrong" + data)
                        }
                    });


                }
            }
            return false;
        } );
        
        var datTable = $('#DataTab').DataTable({
                aLengthMenu: [
                    [25, 50, 100, -1],
                    [25, 50, 100, "All"]
                ],
                iDisplayLength: -1,
                columns:[
                    {   data: "id",
                        visible:false
                    },
                    {data: "start_time"},
                    {data: "end_time"},
                    {data: "days"},
                    {
                        data: null,
                        className: "pt-1-half table-warning editor-delete ",
                        defaultContent: "<i class='fa fa-trash'/>",
                        orderable: false
                    }
                ],
                responsive: true //Table is responsive only after reload for a given size
                
            });
        
        //Alaways remember how many rows there are on table at load
        $(document).ready(function() {
            counter = parseInt($('#DataTab').DataTable().row(':last').data().id);
        } );


    </script>

{% endblock bootstrapJS %}
